:root {

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body, html {
  margin: 0;
  height: 100%;
}

* {
  font-family: 'Inter', sans-serif;
}

#root {
  height: 100%;
}

.input-palabra {
  height: 50px;
  border: 2px solid #2370c4 !important;
}